[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = A version of Redis that uses persistent memory
[access "refs/*"]
	owner = group user/guoanwu
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/guoanwu
	label-Verified = -1..+1 group user/guoanwu
	push = group user/guoanwu
	read = group user/guoanwu
	rebase = group user/guoanwu
	removeReviewer = group user/guoanwu
	submit = group user/guoanwu
[access "refs/heads/*"]
	create = group user/guoanwu
	push = +force group user/guoanwu
	pushMerge = group user/guoanwu
	read = group user/guoanwu
[access "refs/tags/*"]
	push = group user/guoanwu
	push = +force group user/guoanwu
